* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 將 h1~h6字體粗度設定為正常 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  nav {
    background-color: gray;
    // 設定nav bar
    position: sticky;
    top: 0;
    z-index: 5;
    ul {
      //直排變橫排
      display: flex;
      li {
        // 將標籤除掉
        list-style-type: none;
        //設定距離
        margin: 1rem;
        a {
          color: black;
          // 將底線除掉
          text-decoration: none;
          transition: all 0.1 ease;
          &:hover {
            color: rgb(54, 212, 138);
          }
        }
      }
    }
  }

  main {
    section.main-area {
      min-height: 70vh;
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      div.info {
        //利用黑色框測定位置
        // border: 2px solid black;
        flex-basis: 450px;
        padding: 2rem;
        h1 {
          font-size: 3.5rem;
        }
        h2 {
          font-size: 1rem;
        }
        a {
          color: white;
          background-color: rgb(54, 212, 138);
          font-size: 1.5rem;
          text-decoration: none;
          padding: 0.2rem 0.4rem;
          transition: all 0.1 ease;
          border-radius: 20px;
          margin-top: 1rem;
          display: inline-block;
          transition: all 0.2s ease;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      div.img-area {
        // 利用紅色框測定位置
        // border: 2px solid red;
        flex-basis: 450px;
        img {
          width: 30%;
        }
      }
    }

    section.about-me {
      // border: 4px solid rgb(25, 0, 255);
      background-color: rgb(222, 226, 219);
      padding: 5rem 0rem;
      display: flex;
      justify-content: center;
      text-align: center;

      section.description {
        width: 50%;
        text-align: left;
        text-align-last: left;

        b {
          font-size: 2rem;
        }
        p {
          text-align: left;
        }

        div.progress-bar-area {
          p {
            margin-top: 1rem;
          }
        }
      }
    }

    section.resume {
      // border: 4px solid red;
      display: flex;
      flex-wrap: wrap;
      padding: 0rem;

      section.table {
        flex: 5 1 500px;
        // border: 4px solid blue;
        padding: 2rem;
        align-content: center;
        text-align: left;
        table {
          border-collapse: collapse;
        }
        tr {
          border-top: 3px solid gray;
          border-bottom: 3px solid gray;
          align-content: center;
          td {
            padding: 1rem;
          }
        }
      }
      section.table {
        li {
          padding: 5px;
          img {
            width: 50px;
            height: 50px;
            padding: 7px;
          }
        }
      }
      section.picture {
        flex: 1 1 500px;
        // border: 2px solid red;
        padding: 2rem;
        display: flex;
        justify-content: center;
        // align-item:預設值為stretch
        //目的:網頁在伸拉的時候照片不會因此而變形
        align-items: center;
        position: relative;

        img {
          width: 30%;
        }
        // 上綠色方塊
        div.greenRect1 {
          width: 30vw;
          height: 90vh;
          border: 10px solid rgb(195, 255, 200);
          position: absolute;
          top: 30px;
          left: 80px;
          z-index: -1;
        }
        div.greenRect2 {
          width: 50vw;
          height: 40vh;
          border: 10px solid rgb(195, 255, 200);
          position: absolute;
          top: 300px;
          left: -250px;
          z-index: -1;
        }
        div.greenRect3 {
          width: 50vw;
          height: 40vh;
          border: 10px solid rgb(195, 255, 200);
          position: absolute;
          top: 0px;
          left: -100px;
          z-index: -1;
        }
      }
    }
  }
}
// body main section.learning div.notion ul li {
//   font-size: 2rem;
//   text-decoration: none;
//   padding: 2rem;
//   list-style: none;
// }

body main section.resume section.table table tr:hover {
  background-color: azure;
}
body {
  section.main-connection {
    div.info {
      ul {
        font-size: 2rem;
        background-color: azure;
        padding: 1rem;
        text-align: left;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  body {
    nav {
      //不要讓nav蓋住ul的內容
      position: static;
      ul {
        // 將ul端內容縮小時候，變成直列選擇
        flex-direction: column;
      }
    }
  }
}
